<div class="form-group">
  <label class="col-sm-2 control-label">{{name}}</label>
  <div class="col-sm-8">
    {{#if isString}}
      {{input valueBinding="value" type='text' class="form-control"}}
    {{/if}}
    {{#if isText}}
      {{textarea value=value cols="50" rows="10" class="form-control"}}
    {{/if}}
    {{#if isNumber}}
      {{input valueBinding="value" type='number' class="form-control"}}
    {{/if}}
    {{#if isDate}}
      {{bootstrap-datepicker value=value autoclose=true class="form-control"}}
    {{/if}}
  </div>
</div>