<form class="admin-form">
    <div class="panel panel-default">
        <div class="panel-heading">Base Information</div>
        <div class="panel-body">
            <div class="form-horizontal">
               {{#each formAttributes as |attribute|}}
                    {{admin-input class="admin-attribute" model=model name=attribute}}
                {{/each}}
                <div class="admin-attribute">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Catalogue</label>
                        <div class="col-sm-8">
                            {{#admin-select content=catalogues selectedValue=model.parent prompt="Select parent" as |select|}}
                              {{#each select.content as |item|}}
                                <option value={{item.id}} selected={{is-equal item selectedValue}}>
                                  {{item.name}}
                                </option>
                              {{/each}}
                            {{/admin-select}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{partial "admin/form-buttons"}}
</form>
