<div class="row">
    <div class="col-md-9">
        {{partial "admin/base/actions/batch"}}
        {{partial "admin/base/table-settings"}}
        <table class="table-view">
            {{admin-table-head
                activeTableAttributes=controller.activeTableAttributes
                sortFields=controller.sortFields
                orderAscending=controller.orderAscending
                sort=controller.sort
                action='sort'
                batches=controller.__batches
                items=controller.model.items
                caseType=caseType
            }}
            {{admin-table-body
                items=controller.model.items
                activeTableAttributes=controller.activeTableAttributes
                itemActions=controller.itemActions
                additionalActions=controller.additionalActions
                batches=controller.__batches
                adminAction='adminAction'
            }}
        </table>
    </div>
    {{#if controller.isShowSearchForm}}
        <div class="col-md-3">
            {{outlet 'search'}}
            {{outlet 'sidebar'}}
        </div>
    {{/if}}
</div>
{{partial "admin/base/pagination"}}
