<div class="row">
    <div class="col-md-9">
        {{partial "admin/base/actions/batch"}}
        {{partial "admin/base/table-settings"}}

        <table class="table-view">
            {{admin-table-head
                activeTableAttributes=activeTableAttributes
                sortFields=sortFields
                orderAscending=orderAscending
                sort=sort
                action='sort'
                batches=__batches
                items=model.items
                caseType=caseType
            }}
            {{admin-table-body
                items=model.items
                activeTableAttributes=activeTableAttributes
                allActions=allActions
                itemActions=itemActions
                additionalActions=additionalActions
                batches=__batches
                adminAction='adminAction'
                actionNew=actionNew
            }}
        </table>
    </div>
    <div class="col-md-3">
        {{#if isShowSearchForm}}
            {{outlet 'search'}}
        {{/if}}
        {{#if isShowSidebar}}
            {{outlet 'sidebar'}}
        {{/if}}
    </div>
</div>
{{partial "admin/base/pagination"}}
