<div class="row">
    <div class="col-md-9">
        <table class="table-view">
            {{partial "admin/base/actions/batch"}}
            <thead>
            <tr>
                <th class="checkbox-list">
                    {{view 'admin/base/actions/checkbox-batch' selectAll=true elementId="select-all-batches"}}
                </th>
                {{#each attributeName in controller.tableAttributes}}
                    {{admin-sort-th sortFields=controller.sortFields attributeName=attributeName orderAscending=controller.orderAscending sort=controller.sort action="sort"}}
                {{/each}}
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                {{#if controller.model.items }}
                    {{each controller.model.items itemViewClass="admin/base/tr-list"}}
                {{else}}
                    {{#if controller.model.items.isLoaded}}
                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-exclamation-sign">Empty</span>
                            </td>
                        </tr>
                    {{else}}
                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-refresh"></span>
                            </td>
                        </tr>
                    {{/if}}
                {{/if}}
            </tbody>
        </table>
    </div>
    {{#if controller.isShowSearchForm}}
        <div class="col-md-3">
            {{outlet 'search'}}
        </div>
    {{/if}}
</div>
{{partial "admin/base/pagination"}}
