<div class="modal show">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" {{action "closeModal" on="click"}}>&times;</button>
        <h4 class="modal-title">{{modalObject.actionData.title}}</h4>
      </div>
      <div class="modal-body">
        <p>{{modalObject.actionData.confirm}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" {{action "closeModal" on="click"}}>Close</button>
        <button type="button" class="btn btn-primary" {{action "confirm" modalObject on="click"}}>Confirm</button>
      </div>
    </div>
  </div>
</div>