{{#if view.isImage}}
  <a class="thumbnail" href="#" {{action "openImagePreview" view.asset.url on="click"}}>
    <img {{bind-attr src="view.asset.thumb_url"}}>
    <a class="btn btn-danger btn-xs delete-asset" {{action "deleteAsset" on="click" target=view}}>x</a>
  </a>
{{else}}
  <a class="thumbnail">
    <img src="/assets/file-icon.png">
    <a class="btn btn-danger btn-xs delete-asset" {{action "deleteAsset" on="click" target=view}}>x</a>
  </a>
  <div class="caption">
    <h5>{{view.asset.original_filename}}</h5>
  </div>
{{/if}}

