<ul class="breadcrumb">
  {{#each breadcrumb in controller}}
    {{#if breadcrumb.active}}
      <li {{bind-attr class='breadcrumb.class'}}>{{admin-letter-case content=breadcrumb.name caseType=caseType}}</li>
    {{else}}
      <li {{bind-attr class='breadcrumb.class'}}>
        {{#link-to breadcrumb.url}}
          {{admin-letter-case content=breadcrumb.name caseType=caseType}}
        {{/link-to}}
      </li>
    {{/if}}
  {{/each}}
</ul>