<ul class="breadcrumb">
  {{#each content as |breadcrumb|}}
    {{#if breadcrumb.active}}
      <li class="{{breadcrumb.class}}">{{admin-letter-case content=breadcrumb.name caseType=caseType}}</li>
    {{else}}
      <li class="{{breadcrumb.class}}">
        {{#link-to breadcrumb.url}}
          {{admin-letter-case content=breadcrumb.name caseType=caseType}}
        {{/link-to}}
      </li>
    {{/if}}
  {{/each}}
</ul>
