<form class="admin-form">
  <div class="panel panel-default">
    <div class="panel-heading">Base Information</div>
    <div class="panel-body">
      <div class="form-horizontal">
        {{#each formAttributes as |attribute|}}
          {{admin-input model=model name=attribute}}
        {{/each}}
      </div>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">File Uploads</div>
    <div class="panel-body">
      {{#each fileuploads as |attribute|}}
        <h4>{{admin-letter-case content=attribute caseType=caseType}}</h4>
        {{admin-drag-and-drop-zone class="admin-fileupload"
        model=model
        property=attribute
        adminAction='adminAction'
        createAssetAction="createAssetAction"
        store=store
        controllerName=_name
        orderProperty=sortAssetsBy}}
      {{/each}}
    </div>
  </div>

  {{#if model.asGoogleMap}}
    <div class="panel panel-default">
      <div class="panel-heading">Map</div>
      <div class="panel-body">
          {{google-map model=model}}
      </div>
    </div>
  {{/if}}

  {{partial "admin/form-buttons"}}
</form>
