<div class="search-container">
    <div class="panel panel-default">
        <div class="panel-heading">Search</div>
        <div class="panel-body">
            <form class="search" {{action 'search' on="submit"}}>
                {{#each field in controller.searchForm.fields}}
                    {{#if field.isInput}}
                        <div class="clearfix string">
                            <label>{{admin-letter-case content=field.fieldName caseType=caseType}}</label>
                            <div class="controls">
                                {{input name=field.fieldName valueBinding='field.value' type="text" class="form-control"}}
                            </div>
                        </div>
                    {{/if}}
                    {{#if field.isNumberInput}}
                        <div class="clearfix string">
                            <label>{{admin-letter-case content=field.fieldName caseType=caseType}}</label>
                            <div class="controls">
                                {{view "select" content=field.numberPredicats value=field.predicat}}
                                {{input name=field.fieldName valueBinding='field.value' type="number" class="form-control"}}
                            </div>
                        </div>
                    {{/if}}
                    {{#if field.isAutocomplete}}
                        <div class="clearfix string">
                            <label>{{admin-letter-case content=field.fieldName caseType=caseType}}</label>
                            <div class="controls">
                                {{admin-typeahead url=field.url valueBinding='field.value' name=field.fieldName class="form-control"}}
                            </div>
                        </div>
                    {{/if}}
                    {{#if field.isSelect}}
                        <div class="clearfix string">
                            <label>{{admin-letter-case content=field.fieldName caseType=caseType}}</label>
                            <div class="controls">
                                {{view "select" content=field.options.selectContent value=field.value prompt=field.options.prompt class="form-control"}}
                            </div>
                        </div>
                    {{/if}}
                    {{#if field.isDate}}
                        <div class="clearfix string">
                            <label>{{admin-letter-case content=field.fieldName caseType=caseType}}</label>
                            <div class="controls">
                                {{bootstrap-datepicker value=field.value autoclose=true format=field.options.format placeholder=field.options.placeholder class="form-control"}}
                            </div>
                        </div>
                    {{/if}}
                {{/each}}
                <div>
                    <button class="search-button btn btn-success" type="submit">Search</button>
                    <a href="#" class="search-button btn btn-danger" {{action 'clearSearchForm'}}>Clear</a>
                </div>
            </form>
        </div>
    </div>

</div>